@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* -------------------- REsetting cSS ------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: hsl(208, 95%, 8%);
  --primaryColor: #fff;

  --highlight-color1: hsl(133, 91%, 53%);
  --highlight-color2: hsl(0, 78%, 55%);
  --cta-background: linear-gradient(
    to right,
    var(--highlight-color1),
    hsl(133, 91%, 53%, 54%)
  );

  --cta-background2: linear-gradient(
    to right,
    var(--highlight-color2),
    hsl(0, 78%, 55%, 54%)
  );
}

/* Body Styling and text classes*/

body {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
}

titleTxt {
  font-family: consolas;
  text-transform: uppercase;
  margin: 10px 5px 0 0;
}

.subTxt {
  /* font-family: consolas; */
  color: rgb(202, 198, 198);
}

.tag {
  color: var(--highlight-color2);
}

.contentTxt {
  font-weight: 200;
}

/*  ----------------------- Top sections -----------------------*/

.top {
  display: flex;
  height: 100vh;
  position: relative;
  max-height: 700px;
}

.top .navigation {
  display: none;
  border-right: 1px solid gray;
  height: 90%;
  margin-top: 20px;
  padding: 50px;
  width: 300px;
  position: fixed;
}
.navLinks {
  list-style: none;
  height: 100%;
}

.navLink {
  padding: 30px;
  cursor: pointer;
}

.navLink:hover {
  color: var(--highlight-color2);
}

.topMain {
  height: 100%;
  padding: 50px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profileImage {
  width: 200px;
  height: 200px;
}

.profileImage img {
  width: 100%;
  border-radius: 50%;
}

.detail {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 10px;
  /* text-align: center; */
}

.meDetail p {
  margin: 10px 0;
}

.cta {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 5px;
  justify-content: center;
}
.btn {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;

  font-family: "Inconsolata", monospace;
  font-size: 1.2rem;
  letter-spacing: 0.2ch;
  font-weight: 600;
}

.cta--primary {
  font-size: 1.2rem;
  background: transparent;
  color: var(--primaryColor);
  position: relative;
  transition: all 1s ease;
}
.cta--secondary {
  background: transparent;
  position: relative;
  color: white;
}

.cta--secondary:hover {
  color: var(--highlight-color2);
}

.cta--primary::before {
  content: "";
  width: 1%;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background-color: var(--highlight-color2);
  transition: all 0.8s ease;
}

.cta--primary:hover::before {
  width: 100%;
}

.scrollDiv {
  position: absolute;
  bottom: 5%;
  left: 60%;
}

.scrollBox {
  width: 30px;
  height: 50px;

  border: 2px solid white;
  border-radius: 20px;
}

.scrollBox::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 15%;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: scrollDown 1.5s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

/**/

.skillsSection {
  margin: 20px 0;
  /* padding: 0 0 0 350px; */
}

.card2 {
  display: flex;
  align-items: center;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
}

.card {
  height: 300px;
  width: 200px;
  box-shadow: 0px 7px 13px 3px black;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.card:hover {
  /* box-shadow: 0px 7px 13px 3px var(--highlight-color2); */
  animation: hoverScale 0.5s ease-in;
}

.sectionHead {
  border-left: 10px solid var(--highlight-color2);
  padding-left: 10px;
  font-size: 1.5rem;
  margin: 30px 0px;
}

.cardBody {
  font-size: 1.1rem;
}
.cardImage {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@keyframes hoverScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/*  ------------- Projects ----------------------*/

.skillsSection {
  padding: 50px;
}
.projectSection {
  padding: 50px;
}

.projectCard {
  display: flex;
  box-shadow: 5px 7px 13px black;
  margin: 40px 20px 40px 0;
  max-height: 250px;
  border-radius: 10px;
  /* padding: 20px 20px; */
}

.projectImg {
  flex: 1;
  display: flex;
}

.projectImg img {
  width: 100%;
  height: 100%;
}

.projectDetail {
  flex: 2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descTop {
  font-size: 1.4rem;
  font-weight: 500;
}

.descMid {
  font-size: 0.8rem;
  font-weight: 400;
}

.flag {
  padding: 2px 5px;
  margin: 5px 2px;
  background-color: #c4c4c4;
  color: black;
  border-radius: 5px;
}

.descBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descBottom p,
.more {
  color: #5eafe5;
  cursor: pointer;
  border-bottom: 2px dotted #5eafe5;
}

.more {
  text-align: center;
  margin: auto;
}

.likeStat img {
  width: 35px;
  height: 35px;
}

.likeStat img:hover {
  animation: hoverScale 0.5s ease-in infinite;
}

.likeStat {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* --------------------------------- Experiences --------------------------*/

.experienceSection {
  padding: 50px;
  margin: 0px 0;
}

.timeline {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.event {
  width: 100%;
  display: flex;
  flex-direction: column;

  box-shadow: 5px 7px 13px black;
  margin-bottom: 30px;
  padding: 30px;
  /* background-color: white; */
}

.eventHead {
  color: white;
  font-weight: 600;
}

.eventDate {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 5px 0 20px 0;
}

.eventDesc {
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.486);
}

.eventDesc ul {
  list-style: none;
}

.clearDiv {
  list-style: none;
}

/* ------------------------- contact me page ----------------------*/

.contactSection {
  padding: 50px;
}

.contact {
  padding: 50px 0;
  display: flex;
  width: 100%;
}

.connects {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: url("./assets/logos/netflixProject.jpg") no-repeat;
}

.connects li svg {
  height: 30px;
  fill: white;
  cursor: pointer;
}

.connects li:hover svg {
  fill: var(--highlight-color2);
  transition: all 0.8s ease;
}

.findMe {
  flex: 1;
}
.contactForm {
  flex: 1;
}

.contactForm input {
  width: 90%;
  outline: none;
  margin: 20px;
  background-color: transparent;
  border: none;
  padding: 20px 0;
  border-bottom: 2px solid var(--highlight-color2);
  color: white;
}

.contactForm input:nth-child(3) {
  height: 200px;
}

.formBtn {
  width: 30%;
  margin: 20px 20px;
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: transparent;
  /* background-color: var(--highlight-color2); */
  border: 2px solid var(--highlight-color2);
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.formBtn:hover {
  background-color: var(--highlight-color2);
  color: white;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5px 30px;
}

/* -------------- Media Query ----------------*/

@media screen and (min-width: 1000px) {
  .scrollDiv {
    left: 60%;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #c4c4c4;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .event {
    margin-bottom: 50px;
  }

  .top .navigation {
    display: block;
  }

  .events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .event:nth-child(odd) {
    transform: translateX(-30px);
  }

  .event::after {
    content: "";
    position: absolute;
    width: 20px;
    background-color: white;
    height: 20px;
    border-radius: 50%;
  }

  .event:nth-child(odd)::after {
    transform: translateY(-50%) rotate(45deg);
    right: -10%;
  }

  .event:nth-child(even)::after {
    left: -10%;
  }

  .event:nth-child(even) {
    transform: translateX(30px);
  }

  .skillsSection,
  .projectSection,
  .experienceSection,
  .contactSection,
  .top main {
    padding: 0 0 0 350px;
  }
  /* body {
    background: transparent;
  } */
}

@media screen and (max-width: 800px) {
  .scrollDiv {
    display: none;
  }
  .topMain {
    flex-direction: column;
    text-align: center;
  }

  .detail {
    grid-template-columns: 1fr;
  }

  .cta {
    margin: 20px 0;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
  }

  .skillsSection,
  .projectSection,
  .experienceSection {
    padding: 0 30px;
  }

  /* ----------------  skill -------------------------*/

  .skills {
    grid-template-columns: repeat(2, 1fr);
  }

  .projectDetail .descMid {
    margin: 20px 0;
  }

  .projectImg {
    display: none;
  }

  .contact {
    flex-direction: column;
  }

  .connects {
    padding: 50px;
  }
}
